.container-sm.my-4
  .row
    .col-md-8.mx-auto
      .card
        .card-header.bg-light
          %h1.mb-0 New Origin
        .card-body
          = render "shared/origin_or_poi_form", resource: @origin
  .row.my-4
    .col-md-8.mx-auto
      .row
        .col-md-5
          = link_to "Back to Origins and Points of Interest", ltn_points_of_interest_and_origins_path(@ltn), class: "btn btn-outline-secondary"
        .col-md-5
          = link_to "Back to #{@ltn.scheme_name}", ltn_path(@ltn), class: "btn btn-outline-secondary"

