<h1>Editing Scheme <%= @ltn.scheme_name %></h1>

<%= render "form", ltn: @ltn %>

<br>

<div>
  <%= link_to "Show scheme #{@ltn.scheme_name}", @ltn %> |
  <%= link_to "Back to schemes", ltns_path %>
</div>
