.container-sm.my-4
  .row
    .col-md-12
      .d-flex.justify-content-between.align-items-center.mb-4
        %h1 Traffic Schemes
        = link_to "New Scheme", new_ltn_path, class: "btn btn-primary"

  #ltns
    - @ltns.each do |ltn|
      .card.mb-3{ id: dom_id(ltn) }
        .card-body
          %h5.card-title.mb-0
            = link_to ltn.scheme_name, ltn, class: "text-decoration-none"
